@model List<LibraryApplication.Models.Book>
@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>


<div>
    <hr />
    <dl class="row">
        

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Listeye dön</a>
</div>