@model List<LibraryApplication.Models.Book>

<h3>Kitaplar Listesi</h3>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Yeni Kitap Ekle</a>
  
       
        <a class="btn btn-outline-danger" asp-controller="Books" asp-action="CreateBorrower" >Yeni Kişiye Ödünç Ver</a>

        <a class="btn btn-outline-primary" asp-controller="BorrowedBooks" asp-action="Create">Kayıtlı Kişiye Ödünç Ver</a>
        
</p>

<table class="table">
    <thead>
        <tr>
            <th>Kitap</th>
            <th>Yazar</th>
            <th>Kapak Resmi</th>
            <th>Uygunluk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        var base64Image = Convert.ToBase64String(item.Image);
                        var imgSrc = $"data:image;base64,{base64Image}";
                        <img src="@imgSrc" alt="Kitap Resmi" width="70" height="100" /> 
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
               

            </tr>
        }
    </tbody>
</table>